.drop-down-container{
    width: 300px;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 80px;
    z-index: 99;
}
.drop-down-container ul{
    height: 100%;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: space-around !important;
    padding: 15px;
    color: var(--light-dark-text) !important;
}
.drop-down-container ul li{
    width: 100%;
    border-bottom: 1px solid #bebebe;
    padding: 5px 0;  
}
.drop-down-container ul li:hover{
    color: var(--dark-text-color);
}
.drop-down-container .brand-container .brand-item:hover{
    color: var(--theme-color);
    font-weight: 600;
}