.counter{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--theme-color);
    display: grid;
    place-content: center;
    position: absolute;
    top: 15px;
    right: -10px;
    font-size: 14px;
}