header {
    width: 100%;
    height: 80px;
    background-color: var(--black1);
}
/*****Mobile menu styling*****/
header .mobile-menu{
    position: relative;
    display: none;
    width: 28px;
    height: 22px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    z-index: 999;
}
header .mobile-menu::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    left: 0;
    transition: .4s all;
    bottom: 0;
}
header .mobile-menu::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    left: 0;
    transition: .4s all;
    top: 0;
}
header .mobile-menu .bar{
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all .4s;
}
header .mobile-menu.active::after{
    transform: rotate(45deg) translate(6px, 8px);
}
header .mobile-menu.active::before{
    transform: rotate(-45deg) translate(5px, -8px);
}
header .mobile-menu.active .bar{
    display: none;
}



header .logo-section a{
    text-decoration: none;
}
header .logo-section span {
    font-size: 22px;
    cursor: pointer;
    color: var(--light-text-color);
    font-weight: 700;
}

header .search-bar {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--dark-shade);
    display: flex;
    align-items: center;
    padding: 0 15px;
}

header .search-bar input {
    border: 0;
    outline: 0;
    width: 95%;
    height: 100%;
    background-color: transparent;
    padding: 10px;
    color: #939393;
}

.search-bar input::placeholder {
    color: #939393;
}

header .search-bar svg {
    color: #939393;
    font-size: 22px;
}

header .right-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

header .right-header ul {
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    color: var(--light-text-color);
    gap: 25px;
}

header .right-header ul li {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
}

header .right-header ul li svg {
    transition: all .4s;
    margin-left: 3px;
}
header .right-header .cart-wish{
    display: flex;
    align-items: center;
    gap: 20px;
}
header .right-header .cart-wish .fav-icon,
.cart-icon {
    font-size: 22px;
    margin-left: 10px;
    transition: .2s all ease-in-out;
    color: #fff;
}
header .right-header .cart-wish a{
    color: #fff;
    position: relative;
}

header .right-header ul li .fav-icon:hover {
    scale: 1.2;
}

header .right-header ul li .cart-icon:hover {
    scale: 1.2;
}

header .right-header ul li.brand .drop-down-container {
    height: auto;
    width: 400px;
}

header .right-header ul li .drop-down-container {
    transform: scaleY(0);
    transition: all .3s;
    transform-origin: top;
}

header .right-header ul li.category:hover .drop-down-container {
    transform: scaleY(100%);
}

header .right-header ul li.brand:hover .drop-down-container {
    transform: scaleY(100%);
}

header .right-header ul li.category:hover svg {
    transform: rotate(180deg);
}

header .right-header ul li.brand:hover svg {
    transform: rotate(180deg);
}

header .right-header ul li.sign-up .signup-dropdown {
    transform: scaleY(0);
    transition: all .3s;
    transform-origin: top;
}

header .right-header ul li.sign-up:hover .signup-dropdown {
    transform: scaleY(100%);
}
header .right-header .mobile-nav-menu{
    display: none;
}


@media (max-width: 991px) {
    .search-bar{
        width: 40% !important;
    }    
    header{
        padding: 0 30px;
    }   
}
@media (max-width: 767px) {
    header .right-header ul{
        position: absolute;
        width: 50%;
        top: 80px;
        left: 0;
        z-index: 99;
        background-color: var(--black1);
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }
    header .mobile-menu{
        display: block;
    }
    header .right-header ul.desktop-nav-menu{
        display: none;
    }
    header .right-header .mobile-nav-menu{
        padding-left: 0;
        display: flex;
        transform: translateX(-100%); 
        transition: 0.4s all; 
        padding-right: 10px;
    }
    header .right-header .mobile-nav-menu.active{
        transform: translateX(0);
    }
    header .right-header .mobile-nav-menu li{
        height: auto;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 15px 20px;
        background-color: #2c2c2c;
        border-radius: 0 10px 10px 0;
    }
    header .right-header .mobile-nav-menu .login-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 0 10px 10px 0;
        background-color: #2c2c2c;
    }
    header .right-header .mobile-nav-menu .login-container p{
        color: var(--light-text-color);
        cursor: pointer;
    }
    header .right-header .mobile-nav-menu .login-container img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
}
@media (max-width: 575px) {
    header{
        padding: 0;
    }
    header .logo-section span{
        font-size: 18px;
    }
    header .right-header .cart-wish .fav-icon,
    .cart-icon{
        font-size: 18px;
    }
    header .right-header .cart-wish{
        gap: 10px;
    }
    header .mobile-menu{
        width: 25px;
    }
    header .right-header .cart-wish .counter{
        width: 18px;
        height: 18px;
        top: -10px;
    }
}

/*****Search result*****/
.search-result {
    height: auto;
    padding: 15px 20px;
    z-index: 99;
    position: absolute;
    background-color: #fff;
    transform: translateX(-50%);
    left: 50%;
}

.search-result .each-product {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 5px;
}

.search-result .each-product h6 {
    font-size: 14px;
    cursor: pointer;
}


/* animated placeholder for search bar */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.input-placeholder-animate {
    animation: slideUp 0.5s ease-in-out;
}